.hand {
  position: absolute;
  top: 0;
  left: 52%;
  width: 300px;
  transform: translateY(200%) translateX(-50%);

  &.reg {
    top: -50px;
    width: 360px;
  }

  &.show {
    animation: animatehand 1.6s ease;
  }

  img {
    width: 100%;
    height: auto;
  }

  @media screen and (max-width: 768px) {
    transform: translateY(100%) translateX(150%) rotate(-43deg);

    &.reg {
      top: -70px;
    }

    &.show {
      animation: animatehandmob 1.6s ease;
    }
  }
}

@keyframes animatehand {
  0% {
    transform: translateY(200%) translateX(-50%);
  }
  40% {
    transform: translateY(0) translateX(-50%) scale(1);
  }
  50% {
    transform: translateY(5%) translateX(-50%) scale(0.9);
  }
  60% {
    transform: translateY(0) translateX(-50%) scale(1);
  }
  100% {
    transform: translateY(200%) translateX(-50%);
  }
}

@keyframes animatehandmob {
  0% {
    transform: translateY(100%) translateX(150%) rotate(-43deg);
  }
  40% {
    transform: translateY(0) translateX(-10%) scale(1) rotate(-43deg);
  }
  50% {
    transform: translateY(-5%) translateX(-10%) scale(0.9) rotate(-43deg);
  }
  60% {
    transform: translateY(0) translateX(-10%) scale(1) rotate(-43deg);
  }
  100% {
    transform: translateY(100%) translateX(150%) rotate(-43deg);
  }
}
